run = "cd AuraTrade && python bot.py"
[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python bot.py"]

[workflows]
runButton = "Run AuraTrade Bot"

[[workflows.workflow]]
name = "Run TradeMind Bot"
author = 46019748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd TradeMind && python bot.py"

[[workflows.workflow]]
name = "Run AuraTrade Bot"
author = 46019748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd AuraTrade && python bot.py"

[[workflows.workflow]]
name = "Install Dependencies"
author = 46019748
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd AuraTrade && pip3 install -r ../requirements.txt"
